<div class="custom-home-section-main-box">
    <h1>Education</h1>
    <div class="custom-home-section-items-flex-box">
        @for (item of educationItems; track item.label) {
            <p-card class="custom-card">
                <ng-template #header>
                    <i [class]="item.icon"></i>
                </ng-template>
                <ng-template #title>
                    {{ item.title }}
                </ng-template>
                <ng-template #subtitle>
                    {{ item.organization }}
                </ng-template>
                <p-footer>
                    {{ item.time }}
                </p-footer>
            </p-card>
        }
    </div>
</div>
