<div id="aboutMeMainBox" class="home-section-box">
    <div id="aboutMeDescriptionBox">
        <h1>Dilanka Rathnasiri</h1>
        <h4 class="text-secondary">Senior Software Engineer</h4>
        <p>
            Passionate software engineer with expertise in cloud technologies,
            microservices architecture, and infrastructure as code.
        </p>
    </div>
    <div id="aboutMePhotoBox">
        <img
            id="profilePic"
            src="dilanka.jpg"
            class="rounded-circle border border-light shadow-lg border-5 profile-pic-img"
            alt="Dilanka Rathnasiri"
        />
    </div>
</div>
