<div id="mainBox">
    <a
        class="box-navbar-text"
        aria-current="page"
        href="https://www.linkedin.com/in/dilankarathnasiri"
        target="_blank"
        >Linkedin</a
    >
    <a
        class="box-navbar-text"
        aria-current="page"
        href="https://github.com/dilanka-rathnasiri"
        target="_blank"
        >GitHub</a
    >
    <a
        class="box-navbar-text"
        aria-current="page"
        href="https://dev.to/dilanka-rathnasiri"
        target="_blank"
        >Dev.to</a
    >
</div>
