<div class="custom-home-section-main-box">
    <h1>Certifications</h1>
    <div class="custom-home-section-items-flex-box">
        @for (certificate of certificates; track certificate.title) {
            <p-card
                [header]="certificate.title"
                [subheader]="certificate.organization"
            >
                <p-footer>
                    <p>{{ certificate.time }}</p>
                    <p-button
                        label="View Certificate"
                        (onClick)="openCertificateLink(certificate.link)"
                    >
                    </p-button>
                </p-footer>
            </p-card>
        }
    </div>
</div>
