<div id="certificatesMainBox" class="container">
    @for (certificate of certificates; track certificate.title) {
        <div class="card shadow">
            <div class="card-body">
                <h4>{{ certificate.title }}</h4>
                <h4>{{ certificate.organization }}</h4>
                <h6 class="text-secondary">{{ certificate.time }}</h6>
                <a
                    [href]="certificate.link"
                    target="_blank"
                    class="btn btn-primary"
                >
                    View Certificate
                </a>
            </div>
        </div>
    }
</div>
