#experienceMainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#experienceItemBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

#experienceItemLeftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

#experienceItemRightBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

#experienceItemSkillsBox {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    h6 {
        margin: 0;
    }
}
