<nav class="navbar navbar-expand-lg bg-primary">
    <div id="navBarMainBox" class="container">
        <div>
            <a class="navbar-brand fw-bold text-white">Dilanka Rathnasiri</a>
        </div>

        <div id="navBarItemsBox">
            @for (item of menuItems; track item.label) {
                <a
                    class="box-navbar-text"
                    [routerLink]="item.link"
                    routerLinkActive="active"
                    aria-current="page"
                    [routerLinkActiveOptions]="{ exact: item.exact }"
                >
                    {{ item.label }}
                </a>
            }
        </div>

        <app-social-media />
    </div>
</nav>
