<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
        <div class="navbar-brand-container">
            <a class="navbar-brand fw-bold text-white" routerLink="/">Dilanka Rathnasiri</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                (click)="isMenuCollapsed = !isMenuCollapsed"
                [attr.aria-expanded]="!isMenuCollapsed"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse" [class.show]="!isMenuCollapsed">
            <div id="navBarItemsBox">
                @for (item of menuItems; track item.label) {
                    <a
                        class="nav-link"
                        [routerLink]="item.link"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: item.exact }"
                        (click)="isMenuCollapsed = true"
                    >
                        {{ item.label }}
                    </a>
                }
            </div>
            <div class="social-media-container">
                <app-social-media />
            </div>
        </div>
    </div>
</nav>
