#navBarMainBox {
    display: flex;
    justify-content: space-between;
}

#navBarItemsBox {
    display: flex;
    justify-content: space-between;
}

.navbar-flex-row {
    display: flex;
    justify-content: space-between;
}
