<div class="global-container global-section-content-box">
    @for (blog of blogs; track blog.title) {
        <div class="global-item-card">
            <div class="card-body">
                <h4>{{ blog.title }}</h4>
                <p class="text-secondary">{{ blog.description }}</p>
                <a [href]="blog.link" target="_blank" class="btn btn-primary">
                    Read Article on <i class="fa-brands fa-dev"></i>
                </a>
            </div>
        </div>
    }
</div>
