#homeMainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#homeAboutMeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 5rem;
}

#homeAboutMeDescriptionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#homeAboutMeDescriptionBox p {
    text-align: center;
}

#homeAboutMePhotoBox img {
    width: 100%;
    max-width: 16rem;
}

#homeWhatIDoBox {
    display: flex;
    justify-content: space-between;
}

#homeLatestBox {
    display: flex;
    justify-content: space-between;
}

#homeSkillOverviewBox {
    display: flex;
    justify-content: space-between;
}

#homeWhatIDoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

#homeWhatIDoItemsBox {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

#homeSkillsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

#homeSkillsItemsBox {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    h6 {
        margin-bottom: 0;
    }
}

#homeLatestBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

#homeLatestItemsBox {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .card-body {
        max-width: 30rem;
        min-width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            text-align: center;
        }
    }
}
