<div id="homeMainBox">
    <div id="homeAboutMeBox" class="container">
        <div id="homeAboutMeDescriptionBox">
            <h1>Dilanka Rathnasiri</h1>
            <h4 class="text-secondary">Senior Software Engineer</h4>
            <p>
                Passionate software engineer with expertise in cloud
                technologies, microservices architecture, and infrastructure as
                code.
            </p>
        </div>
        <div id="homeAboutMePhotoBox">
            <img
                id="profilePic"
                src="dilanka.jpg"
                class="rounded-circle border border-light shadow-lg border-5 profile-pic-img"
                alt="Dilanka Rathnasiri"
            />
        </div>
    </div>

    <div id="homeWhatIDoBox" class="container">
        <h1>What I do</h1>
        <div id="homeWhatIDoItemsBox">
            @for (item of whatIDoItems; track item.title) {
                <div class="card shadow">
                    <div class="card-body">
                        <i [class]="`${item.icon} fa-3x text-primary`"></i>
                        <h4>{{ item.title }}</h4>
                        <p class="card-text">
                            {{ item.description }}
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="homeSkillOverviewBox" class="container">
        <h1>Skill overview</h1>
        <div class="d-flex flex-row justify-content-between">
            <h5>Java</h5>
            <h5>Python</h5>
            <h5>AWS</h5>
            <h5>Spring Boot</h5>
            <h5>Rest API</h5>
            <h5>GitLab CI/CD</h5>
            <h5>Terraform</h5>
            <h5>FastAPI</h5>
            <h5>Kubernetes</h5>
        </div>
    </div>

    <div id="homeLatestBox" class="container">
        <h1>Latest</h1>
        <div class="d-flex justify-content-between">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem">
                <div class="card-header">Experience</div>
                <div class="card-body">
                    <h2>Senior Software Engineer at Fintech API team</h2>
                    <p class="card-text">From April 2024 to Present</p>
                </div>
            </div>
            <div class="card text-bg-primary mb-3" style="max-width: 18rem">
                <div class="card-header">Eduction</div>
                <div class="card-body">
                    <h2>
                        BSc Engineering Hons. Computer Science and Engineering
                    </h2>
                    <p class="card-text">
                        Faculty of Engineering, University of Moratuwa, Sri
                        Lanka
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
