<div class="custom-home-section-main-box">
    <h1>What I Do</h1>
    <div class="custom-home-section-items-flex-box">
        @for (item of whatIDoItems; track item.title) {
            <p-card class="custom-card">
                <ng-template #header>
                    <i [class]="item.icon"></i>
                </ng-template>
                <ng-template #title>
                    {{ item.title }}
                </ng-template>
                <ng-template #subtitle>
                    {{ item.description }}
                </ng-template>
            </p-card>
        }
    </div>
</div>
