<div id="whatIDoMainBox">
    <h1>What I Do</h1>
    <div id="whatIDoItemsFlexBox">
        @for (item of whatIDoItems; track item.title) {
            <p-card>
                <ng-template #header>
                    <i [class]="item.icon"></i>
                </ng-template>
                <ng-template #title>
                    {{ item.title }}
                </ng-template>
                <ng-template #subtitle>
                    {{ item.description }}
                </ng-template>
            </p-card>
        }
    </div>
</div>
