@use 'bootstrap/scss/bootstrap' as bootstrap;
@use '@fortawesome/fontawesome-free/css/all.css';

#whatIDoMainBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    @extend .container;
}

#whatIDoItemsFlexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

p-card {
    min-width: 25rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    i {
        color: bootstrap.$primary;
        @extend .fa-3x;
        @extend .mt-3;
    }
}

